.drinks{
  padding: 128px 0 79px;
  background: url("../images/about/BG.jpg") center/cover no-repeat;
&-cards{
  display: flex;
  column-gap: 143px;
}
  &-right{
    display: flex;
    flex-direction: column;
    &-subtitle{
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 23px;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #FFFFFF;
      margin-bottom: 8px;
      margin-top: 40px;
    }
    &-vector{
      height: 9px;
      width: 40px;
      left: 40px;

    }
    &-title{
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #DCCA87;
      margin: 8px 0 32px;
    }
    &-text{
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      color: #AAAAAA;
      margin-bottom: 32px;
    }
    &-btn{
      padding: 8px 32px;
      font-family: 'Cormorant Upright', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #0C0C0C;
      background: #DCCA87;
      cursor: pointer;
    }
  }

}